- provide(:title, 'Sign in')
.container.center
	.row
		.span6.offset3
			%h1 Sign in
			= render 'forms/new_form_for_sessions'
			%p
				New user?
				= link_to 'Sign up now!', signup_path
			%p
				= link_to 'Forgotten password?', new_password_reset_path