- provide(:title, 'Adverts')

.container

	%h1.new_section Adverts

	- if @adverts.blank?
		%p No adverts
	- else
		.row
			- @adverts.each do |advert|
				.span6
					= render advert, user_advert: true, full_content: false
			= will_paginate @adverts